@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 174 85% 15%;

    --card: 0 0% 100%;
    --card-foreground: 174 85% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 174 85% 10%;

    --primary: 178 84% 27%;
    --primary-foreground: 0 0% 100%;

    --secondary: 174 20% 93%;
    --secondary-foreground: 174 85% 15%;

    --muted: 174 15% 94%;
    --muted-foreground: 174 10% 45%;

    --accent: 72 80% 50%;
    --accent-foreground: 174 85% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 174 20% 88%;
    --input: 174 20% 88%;
    --ring: 178 84% 27%;

    --radius: 0.5rem;

    --sidebar-background: 220 96% 2%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 220 96% 2%;
    --sidebar-accent: 170 78% 31%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 50% 12%;
    --sidebar-ring: 170 78% 31%;

    --spe: 72 80% 50%;
    --spe-foreground: 0 0% 10%;
  }

  .dark {
    --background: 174 30% 5%;
    --foreground: 0 0% 95%;
    --card: 174 30% 8%;
    --card-foreground: 0 0% 95%;
    --popover: 174 30% 8%;
    --popover-foreground: 0 0% 95%;
    --primary: 178 84% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 174 20% 15%;
    --secondary-foreground: 0 0% 95%;
    --muted: 174 20% 15%;
    --muted-foreground: 174 10% 60%;
    --accent: 72 80% 50%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 174 20% 18%;
    --input: 174 20% 18%;
    --ring: 178 84% 27%;
    --sidebar-background: 220 96% 2%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 170 78% 31%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 170 78% 31%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 50% 10%;
    --sidebar-ring: 170 78% 31%;
    --spe: 72 80% 50%;
    --spe-foreground: 0 0% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
